<form name="myForm" class="container" ng-controller="loginController" ng-submit="myForm.$valid && doLogin()" novalidate>
    <div class="row">
        <div class="col-md-4 form-group">
            <label for="username">Username</label>
            <input name="username" id="username" class="form-control" placeholder="username" ng-model="username" required/>
            <span style="color:red" ng-show="myForm.$submitted">
                <span id="passwordError" ng-show="myForm.username.$error.required">Username is required</span>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 form-group">
            <label for="password" >Password</label>
            <input name="password" id="password" placeholder="password" ng-minlength="6" class="form-control" type="password" ng-model="password" required/>
            <span style="color:red" ng-show="myForm.$submitted">
                <span id="passwordError" ng-show="myForm.password.$error.required">Password is required</span>
                <span id="passwordError" ng-show="myForm.password.$error.minlength">Password must be greater than 6</span>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <input type="submit" onclick="submitted = true" class="form-control btn btn-primary">
        </div>
    </div>
</form>